@import '../css/common.scss';

// Nesting
.flex-container {
    display: flex;
    flex-direction: column;

    &:first-child {
        margin-bottom: 20px;
    }

    div {
        display: flex;
    }

    background-color: $white;
    color: $warn;
}

.post {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}

.row {
    display: flex;
}

/* Mixin to dynamically generate the same set of css properties with different params */
$transition-speed: 1s / 50px;

@mixin move($left-start, $left-stop) {
    position: absolute;
    left: $left-start;
    transition: left ($left-stop - $left-start) * $transition-speed;
    &:hover {
        left: $left-stop;
    }
}

.slider {
    @include move(10px, 120px);
}

